@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ember Demo</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">...</button>
                <a class="navbar-brand" href="#">WKI</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#/card/42">Card-42</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="ember-app">
    </div>

    <script type="text/x-handlebars" data-template-name="application">
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="index">
        <p>This is my sample dummy empty index page</p>
    </script>

    <script type="text/x-handlebars" data-template-name="card">
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                    {{! see: http://stackoverflow.com/questions/16380523/create-a-li-class-active-around-an-active-linkto }}

                    {{#link-to 'card.content' id tagName='li' href=false}}
                        {{#link-to 'card.content' id}}content{{/link-to}}
                    {{/link-to}}
                    {{#link-to 'card.options' id tagName='li' href=false}}
                        {{#link-to 'card.options' id}}options{{/link-to}}
                    {{/link-to}}
                    {{#link-to 'card.order' id tagName='li' href=false}}
                        {{#link-to 'card.order' id}}order{{/link-to}}
                    {{/link-to}}
                </ul>
                <div class="panel panel-default" style="border-top: none">
                    <div class="panel-body">
                        {{outlet}}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Preview</h3>
                    </div>
                    <div class="panel-body">
                        Preview #{{id}} - coming soon.
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="card/index">
        card index
    </script>

    <script type="text/x-handlebars" data-template-name="card/content">
        <div class="container">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        {{input name="name" value=name class="form-control"}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Department</label>
                    <div class="col-sm-9">
                        {{input name="department" value=department class="form-control"}}
                    </div>
                </div>
            </form>
        </div>
        <div class="container text-right">
            should link to next tab. does not work. id={{id}}
            {{#link-to 'card.options' id}}<button type="button" class="btn btn-primary">Next</button>{{/link-to}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="card/options">
        card options
    </script>

    <script type="text/x-handlebars" data-template-name="card/order">
        card order
    </script>

@*@Scripts.Render("~/bundles/ember")*@
<script src="/Scripts/jquery-2.1.1.js"></script>
<script src="/Scripts/handlebars.js"></script>
<script src="/Scripts/ember.js"></script>
@Scripts.Render("~/bundles/embersite")
</html>
