@{
    Layout = null;
}

<!DOCTYPE html>

<html data-ng-app="WkiApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular Demo</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <div data-wk-navbar></div>
    </header>

    <div id="main" class="container">
        <!-- div data-wk-message></div -->
        <div class="view-animate-container">
            <div data-ng-view class="xview-animate"></div>
        </div>
    </div>
</body>
@*@Scripts.Render("~/bundles/bootstrap")*@
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/site")
</html>
