@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="WkiApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular Demo</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div data-wk-navbar></div>

    <div class="jumbotron">
        <h1>angular test</h1>
    </div>

    <div class="row">
        <fieldset ng-controller="StartupController" class="col-md-6">
            <legend>Binding demo</legend>
            <div>
                <label>
                    Your Name:
                    <input type="text" ng-model="greeter.name" />
                </label>
            </div>
            <div>
                {{greeter.greeting()}}
            </div>
        </fieldset>
        <fieldset ng-controller="InfoController" class="col-md-6">
            <legend>Ajax Demo</legend>
            <form ng-submit="update()">
                <p>
                    <label>
                        Enter ID:
                        <input type="number" ng-model="id" ng-change="update()" />
                    </label>
                </p>
                <input type="submit" value="update" />
                {{counter}}
            </form>
            <div>
                {{data}}
            </div>
        </fieldset>
    </div>
</body>
@*@Scripts.Render("~/bundles/bootstrap")*@
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/site")
</html>
