
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="WkiApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular Demo</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div data-wk-navbar />

    <h1>angular test</h1>
    <fieldset ng-controller="StartupController">
        <legend>Binding demo</legend>
        <div>
            <label>
                Your Name:
                <input type="text" ng-model="greeter.name" />
            </label>
        </div>
        <div>
            {{greeter.greeting()}}
        </div>
    </fieldset>
    <fieldset ng-controller="InfoController">
        <legend>Ajax Demo</legend>    
        <form ng-submit="update()">
            <p>
            <label>
                Enter ID:
                <input type="number" ng-model="id" ng-change="update()"/>
            </label>
            </p>
            <input type="submit" value="update"/>
            {{counter}}
        </form>
        <div>
            {{data}}
        </div>
    </fieldset>
</body>
@*@Scripts.Render("~/bundles/bootstrap")*@
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/site")
</html>
