@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="WkiApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular Demo</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <div data-wk-navbar></div>
    </header>

    <div id="main" class="container"ng-controller="GlobalPageController">
        {{message}}
        <div data-ng-view></div>
    </div>
</body>
@*@Scripts.Render("~/bundles/bootstrap")*@
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/site")
</html>
