<div class="jumbotron">
    <h1>angular test</h1>
</div>

<div class="row">
    <fieldset data-ng-controller="StartupController" class="col-md-6">
        <legend>Binding demo</legend>
        <div>
            <label>
                Your Name:
                <input type="text" data-ng-model="greeter.name" />
            </label>
        </div>
        <div>
            {{greeter.greeting()}}
        </div>
    </fieldset>
    <fieldset data-ng-controller="InfoController" class="col-md-6">
        <legend>Ajax Demo</legend>
        <form data-ng-submit="update()">
            <p>
                <label>
                    Enter ID:
                    <input type="number" data-ng-model="id" data-ng-blur="update()" />
                </label>
            </p>
            <input type="submit" value="update" />
            Countdown: {{counter}}
        </form>
        <div>
            {{data}}
        </div>
    </fieldset>
</div>